$introBg: "../../../../assets/img/view-of-high-rise-buildings-during-day-time-302769.jpg";

.intro-2 {
    background: url($introBg) repeat-x center;
    background-size: cover;
}



// .md-form label {
//     color: #ffffff;
// }

.intro {
    min-height: 100vh;
    position: relative;
}

.rgba-stylish-strong .mask {
    background-color: rgba(62, 69, 81, .7);
}

.mainBtn{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;
text-transform: capitalize;
}

// input{
//     color: #ffffff
// }